[2017-10-02 13:42] SLAppsDev opened #8 "Color Labels"
Hi, I was wondering if I could change the color of a column label based on a certain value, e.g. I have a list of value and if a value is less than 70% I would like to highlight it in red color, also could I change the whole row background color, e.g. every uneven row the background should be gray and  even rows should be white background

is this possible?

Thanks for the library, great work on i

[2017-10-04 15:12] pavankataria commented on #8
Hey there @SLAppsDev, thanks for messaging about your request. There should already be code that allows this, but I may have commented it out. I'll get on it and will have something out by the weekend.

p.s. Also, could you share some more details about your app? It's great you're using this within your app, I aim to find out how others are using this package, I'll also be glad to put your app nam

[2017-11-03 15:20] pavankataria commented on #8
?

[2017-11-03 15:21] pavankataria commented on #8
?

[2017-12-18 05:51] DukheeKang opened #9 "Insert photo with name."
Hi pavankataria.

How can I insert photo with name?

Thank.

[2017-12-24 22:37] mhdalalwan opened #10 "Change the height of each row"
Hi,
I was wondering if I could change the height of each row separately and also can i do word wrapping cause no matter how the sentence is long .. it will appear in one row.

Thanks in advance.

[2018-01-23 09:14] pavankataria commented on #9
Hi there, I suppose what would be cool is to allow the datasource to receive a custom view.
I'm busy at the moment up until May but I welcome a pull request in the mean time.

[2018-01-23 10:15] pavankataria commented on #10
Hi there, thanks for posting.
I'll need to think of a long term solution that would calculate the estimated height of each cell and actually look at the layout constraints. I welcome a pull request.

What you could do in the mean time is to ensure your label's `numberOfLines` property is set to 0.  Then return your own height in the SwiftDataTables datasource method by calculating what the height

[2018-02-10 12:19] NupendraVerma opened #11 "how to link generate in every row of swift dataTables"
how to generate link in each row of data table
and I want to remove search bar in the data table how??

[2018-02-12 17:17] pavankataria commented on #11
Hey there, this would require the api allowing custom cells to be returned, and then you could add your link in the form of an attributed text with appropriate openApp url handling.

I'm a bit tied up atm, but a PR is totally welcomed :)

[2018-04-12 11:59] prikhodkoalexey opened #13 "Reload cell at indexPath"
Can we have an ability to reload one cell instead of reloading all in the near future?

[2018-05-08 08:12] pavankataria commented on #13
I'll have to think about the execution for this, I like the sound of it and believe it should definitely be possible to do so in the near future. What's stopping me from refactoring to deliver enhancements is me wanting to go towards an automatically sized cell layout framework. I'm still deciding the best way forward to achieve this and some research needs to be done.

I welcome a pull request fo

[2018-06-10 17:53] hamzabinamin opened #14 "Possible to remove the bottom view of columns?"
Is it possible to not show the column names at the bottom as well?

[2018-06-11 16:06] pavankataria commented on #14
From what I remember I believe this should be fairly simple to do. Would creating a property `hidesBottomHeaderLabelsL: Bool` do the trick? That seems to be the natural way to go. I'll pull in the changes tonight and see what I can do. Stay tuned.

[2018-06-11 16:09] hamzabinamin commented on #14
Thanks. Also is it somehow possible to add an option to export a table into PDF, XLS?

[2018-06-12 08:46] pavankataria commented on #14
Hey, I didn't get time to do it yesterday night. But I'm on it.

You can create your own class that takes in your data and outputs an CSV file if not an XLS file. Should be pretty straight forward. Also don't forget to give me your details of your app so I can add it in the repo list.

[2018-06-12 10:02] hamzabinamin commented on #14
Awesome thanks. I'll let you know if I need help in exporting the tables.

Yes will share the app once I finish it :)

[2018-06-14 00:16] pavankataria commented on #14
🎉 🎉 @hamzabinamin This is now available as of version 0.6.11 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.6.11

Set the `shouldShowFooter` property to `false` and inject that configuration object into your data table initialiser and you're good to go. Footer columns will not be drawn.

Let me know how it goes. 🎉

[2018-06-14 00:16] #14 closed

[2018-06-16 00:03] pavankataria commented on #14
Let me know how it goes for you @hamzabinamin .

[2018-06-18 20:26] hamzabinamin commented on #14
It works thanks @pavankataria

[2018-06-19 22:10] pavankataria commented on #10
🎉 🎉 @mhdalalwan This is now available as of version 0.6.22 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.6.22

You can now implement the `SwiftDataTableDelegate` and implement the following delegate method:

[code]

Let me know how it goes. 🎉

[2018-06-19 22:10] #10 closed

[2018-06-21 22:34] pavankataria commented on #11
🎉 🎉 @NupendraVerma  This is now available as of version 0.6.22 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.6.22

Set the `shouldShowSearchSection` property to false in the `DataTableConfiguration` file and inject that into your data table initialiser and you're good to go. The search view will not be added.

You can also opt to the use the new delegate method and return fals

[2018-06-21 22:34] #11 closed

[2018-06-21 22:34] pavankataria commented on #11
🎉 🎉 @NupendraVerma  This is now available as of version 0.6.22 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.6.22

Set the `shouldShowSearchSection` property to false in the `DataTableConfiguration` file and inject that into your data table initialiser and you're good to go. The search view will not be added.

You can also opt to the use the new delegate method and return fals

[2018-06-22 20:52] amirmahdi2545 opened #15 "search bar doesn't disappear"
i used this configuration to make the searchbar disappear but no difference
`public struct DataTableConfiguration {
public var defaultOrdering: DataTableColumnOrder? = nil
public var shouldShowSearchSection: Bool = true
public init(){
}
}`

[2018-06-23 13:57] pavankataria commented on #15
You need to set the variable to false. So initialise a ‘DataTableConfiguration’ and set the ‘shouldShowSearchSection’ property to ‘false’ and pass this configuration object into the data tables class. Run the demo project which also shows this done as an example of a search being hidden. You can also use the delegate method and return false to achieve the same.

[2018-06-24 11:30] pavankataria commented on #15
Did you get that fixed then? If there’s nothing else I’ll close this issue then.

[2018-06-24 16:46] pavankataria commented on #8
🎉 🎉 @SLAppsDev This is now available as of version 0.6.3 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.6.3

There's two ways to achieve alternating colours. Both very simple.

#### 1) Use the delegate methods:
[code]
This allows you to specify the colours for rows for highlighted-columns as well as rows for unhighlighted columns.

#### 2) Use the `DataTableConfiguration` objec

[2018-06-24 16:48] #8 closed

[2018-06-25 23:16] pavankataria commented on #15
I'm going to close this now as this functionality is supported and there hasn't been a response. If you need any more help just post on here and I'll open this issue up again.

[2018-06-25 23:16] #15 closed

[2018-06-28 15:34] amirmahdi2545 commented on #15
thank you for your help and your library is amazing

[2018-06-29 07:45] pavankataria commented on #15
Cheers! If you need any further assistance just post on here.

Also features and ideas are welcomed too.

[2018-07-21 18:23] yang19930204 opened #16 "could you give me a example on Delegate for maximum customisation?"
I try my best but can't hide the search bar

[2018-07-21 18:31] yang19930204 commented on #16
1.this is DataTableConfiguration.swift from pod ，which is different from your example
![wx20180722-023054](https://user-images.githubusercontent.com/29906145/43039048-59980ce2-8d57-11e8-9c4d-6e2cf40b06d7.png)

2.this is my code to hide searchbar
![wx20180722-023030](https://user-images.githubusercontent.com/29906145/43039049-5ca23624-8d57-11e8-837c-72695474105a.png)

[2018-07-21 21:43] pavankataria commented on #16
Hi, which version of the cocoapods did you install?

[2018-07-21 21:48] pavankataria commented on #16
As you can see, the latest version of the database configuration file looks like this:
https://github.com/pavankataria/SwiftDataTables/blob/0.6.31/SwiftDataTables/Classes/DataTableConfiguration.swift
This is how yours should look like so long as you have the latest release.

On another note, you may just be missing to set the delegate :) Setting the delegate would call that method. Add a breakpoin

[2018-07-22 02:51] yang19930204 commented on #16
I only use   pod 'SwiftDataTables' in my podfile then it display   ' Installing SwiftDataTables (0.5.3)'  but there 0.6.31

[2018-07-22 02:54] yang19930204 commented on #16
and when I use  pod 'SwiftDataTables','~>0.6.31'
![1532228067593](https://user-images.githubusercontent.com/29906145/43041801-a05dfd58-8d9d-11e8-93eb-577012bd8983.jpg)

[2018-07-22 03:43] yang19930204 commented on #16
I have already updated to Using SwiftDataTables (0.6.31) and code this but failure
![1](https://user-images.githubusercontent.com/29906145/43042035-6667c2a8-8da4-11e8-9ff2-cf180018b2f1.png)
![2](https://user-images.githubusercontent.com/29906145/43042036-6a1a294a-8da4-11e8-9b64-cc3a809c2a83.jpg)

[2018-07-22 04:10] yang19930204 commented on #16
Thank u ,Success!

[2018-07-22 09:15] #16 closed

[2018-07-25 17:25] hamzabinamin commented on #14
Hey @pavankataria Is there a way to change the color of a particular cell to red or any other color? I sort of want to alert the user by changing the color to red to showcase they are behind their task. In the delegate methods I see that you can only change from highlighted to unhighlighted color.

[2018-07-25 22:17] pavankataria commented on #14
Hi, because this issue is closed and your question unrelated to this issue, could you please open up another one outlining the feature you'd like so others can see the title for easier later access. Also is this not possible with the current api? Simply select the colour using the highlighted api

[2018-07-29 18:44] hamzabinamin opened #17 "Changing color of only one cell inside a row."
I have two questions:

1. You have the two functions for highlighted and unhighlighted row. But I want to show different color for only one cell of a row, not the entire row. Is that somehow possible?

func dataTable(_ dataTable: SwiftDataTable, highlightedColorForRowIndex at: Int) -> UIColor
func dataTable(_ dataTable: SwiftDataTable, unhighlightedColorForRowIndex at: Int) -> UIColor

2. Also if

[2018-07-29 18:44] hamzabinamin commented on #14
@pavankataria I opened the new issue. Please see that.

[2018-08-01 18:17] hamzabinamin commented on #17
@pavankataria Would you be able to add this in the coming days? How long would it take?

[2018-08-02 08:10] pavankataria commented on #17
Hey there, I sure can. I've just been thinking about the implementation of the API and how users would best want to interface with a feature like this. Have you tried implementing this yourself? Might be worth a shot. Suggestions are welcomed.

[2018-08-13 10:10] yang19930204 opened #18 "set the width of header"
how to set the Width of columns  not scaling depending on content?

[2018-08-13 12:36] pavankataria commented on #18
This is the method that you need to implement. Once you override one column's width you'll need to specify the widths for all the other columns.

[2018-08-14 11:51] pavankataria commented on #18
@yang19930204 Let me know if that helped so I can close the issue.

[2018-08-16 19:10] hamzabinamin commented on #17
@pavankataria I was unsuccessful in coming up with a solution lol. Did you get a chance to look into this?

[2018-08-16 19:15] hamzabinamin opened #19 "Possible to export tables as PDF?"
@pavankataria  Is there any way to export the datatables as PDF?

[2018-08-16 21:23] pavankataria commented on #18
I’m marking this as closed and resolved since you haven’t gotten back so I imagine the solution worked for you. Feel free to open again if you have an issue with this post.

[2018-08-16 21:25] pavankataria commented on #19
While that’s a great idea, this feature is currently outside the scope of this package.

You can try something like this though:

https://medium.com/@bermaniastudios/generating-a-pdf-from-a-uiscrollview-7dff2045bc31

[2018-08-16 21:25] #19 closed

[2018-08-29 22:11] pavankataria commented on #17
Okay @hamzabinamin, i'll take a look at this on the weekend!

[2018-09-11 19:06] hamzabinamin opened #20 "Anyway to disable scrolling on one of the columns?"
Is there a way I can lock or disable the scrolling on one of the columns so that when the user scrolls the columns next to it, they can still see the previous column data?

[2018-10-19 19:58] hamzabinamin commented on #17
@pavankataria did you get a chance to figure this out?

[2018-10-27 09:57] pavankataria commented on #17
Hey it's been extremely busy for me! A pull request is welcome! Look at how I highlight the entire column, create another method but do it for a single cell.

[2018-12-11 12:21] dneykov opened #21 "didTap on row"
Hi,

is there a support for tapping of row and segue to another view controller? Thanks

[2018-12-12 09:52] pavankataria commented on #21
Hah, that would seem like an obvious feature to implement, to be fair I built this for display purposes so it didn't come across my mind. This should be quick to implement, stay tuned. I'll add a quick delegate method for you. Stay tuned.

[2019-01-13 23:44] hammood commented on #21
@pavankataria Any news on this feature ?

[2019-01-28 05:33] adwani0007 opened #22 "Scrolling issue while add SwiftDataTable to the particular UIView"
I am getting Scrolling issue when I have addSubview to custom UIView instead of self.view.
It will cut last two or three rows while scrolling.

[2019-01-30 12:52] pavankataria commented on #22
Hey, could you explain your problem a bit more? It's not clear to me what could be causing this.
How are you adding the subview? Are you setting the constraints correctly? I'm guessing what the issue is. :P

[2019-02-04 03:29] jwhitey2000 commented on #21
@hammood I have a pretty basic version of this working but it is no where near being worthy of a pull request. It could be at some point in the near future although I might not get it to that level as it almost already meets my needs. I would be happy to post my code if you still need it though!

[2019-02-06 12:23] pavankataria commented on #22
This is to do with the way you're adding your views and nothing to do with the scrolling behaviour.
The scrolling behaviour works correctly but if you're not managing your view hierarchy correctly, you can potentially chop views off :P
Let me know if there's an actual issue with the API that you're finding, i'll keep this closed for now.

[2019-02-06 12:23] #22 closed

[2019-02-07 14:09] pavankataria commented on #21
Hey, I was working on this yesterday after I saw more comments on this thread.

I've implemented a method like this so far in the `SwiftDataTableDelegate`:
[code]
Would this be adequate? You'd be able to retrieve the data by querying your own datasource.

Does this work for you guys? @dneykov, @hammood, and @jwhitey2000.

[2019-02-07 14:10] pavankataria commented on #20
I have some time now to develop features for this package.

Would the user only be able to scroll the far left columns? Or would they be able to freeze columns in the middle - which would be a harder implementation and I'm not sure what the results of that might look like

[2019-02-07 14:12] pavankataria commented on #17
@hamzabinamin have you worked this out? I'd love a pull request, otherwise I'll have to implement this with a delegate method

[2019-02-08 14:01] dneykov commented on #21
I think that will do it. Thanks.

[2019-02-09 09:39] adwani0007 commented on #22
I have attached on image for the constraint of the UIView(gray type color) in which I have added the datatable and one zip file that contains video showing  the issue.
You can in the video that the last 2 rows are not showing properly while scrolling.
Thank you in advance!.

![screen shot 2019-02-09 at 3 06 51 pm](https://user-images.githubusercontent.com/20366991/52519098-68f58b00-2c7c-11e9-80dc-

[2019-02-09 13:55] hamzabinamin commented on #20
They should be able to freeze or lock a certain column and the scrolling should work only for the columns after that or before it.

[2019-02-09 13:56] hamzabinamin commented on #17
@pavankataria Hey, we've put a hold on this feature for now. Unfortunately there wasn't much time to implement that. If you can include that in the delegate methods then that would be great man.

[2019-02-10 14:29] pavankataria commented on #22
This is because of your navigation bar. You're not setting your constraints properly. The same thing will happen if you add a normal tableview. Try it.

[2019-02-10 14:31] pavankataria commented on #22
And to further prove this point, if you hide the navigation bar you'll notice the content will appear again. The offset is exactly the same size as the height of the navigation bar

[2019-02-10 14:32] pavankataria commented on #20
Are we talking about horizontal or vertical scrolling? Can you give me a more detailed example?

This is what I originally imagined which locks a column from horizontally scrolling so they are always visible:
https://demos.telerik.com/kendo-ui/grid/frozen-columns

[2019-02-10 14:36] pavankataria commented on #22
Could you recreate this issue in a blank application and upload it for me. This means recreating the problem with the fewest lines of code so I can debug this if it turns out it's an issue easy to replicate.

[2019-02-11 06:03] adwani0007 commented on #22
I have tried out the solution (Hide navigation bar), but the issue remains same.
I have recreate this issue in blank application you can check it out.
Here is the link:  http://siyasoft.com/demo/DataTableDemo.zip
Thank You.

[2019-02-11 12:24] hamzabinamin commented on #20
horizontal, the one in the link should be good enough.

[2019-02-11 14:25] pavankataria commented on #22
As mentioned before, you're not setting up your frames correctly, this is not an issue with the API.
Change the way you setup your view in your project:
[code]
to this:
[code]

[2019-02-12 20:32] altagir opened #23 "Support for 4.2"
`Notification.Name.UIApplicationWillChangeStatusBarOrientation
`
must be changed to
`UIApplication.willChangeStatusBarOrientationNotification`

with Swift 4.2

[2019-02-13 04:33] adwani0007 commented on #22
Yeah, it's worked..Thank you for your help.

[2019-02-14 09:46] pavankataria commented on #23
Hey nice one. will you be able to submit a pull request for this? I'm currently thinking of the best way to maintain multiple versions of Swift so users using swift 3 and upwards could use this. I have also thought about just dropping support for older versions of Swift by going full steam ahead and migrating the library to the latest version of swift and therefor maintaining one branch only.

I'd

[2019-02-14 15:56] altagir commented on #23
Sure, I will do a fork and submit pull request, very small change
I would suggest to create branches for that purpose (4.2) and identify them clearly in doc
Some people may want to keep old version of swift, but I usually iron issues right away with latest version.
so would suggest branches 3, 4, 4.2 with the main branch being of of these
regards

https://github.com/pavankataria/SwiftDataTables/pu

[2019-02-16 16:50] jwhitey2000 commented on #21
That is perfect, thank you!

[2019-02-20 20:24] altagir commented on #21
fixed in my fork https://github.com/altagir/SwiftDataTables
and you cannot use indexPath, since it is sorted

[2019-02-22 16:21] altagir opened #25 "crash when DataSet / DataSource is empty"
Modify your sample to have empty data set
[code]

[2019-02-23 23:49] pavankataria commented on #25
Nice catch @altagir . I've had this happen to me before. Have you been able to look into this yet @altagir ? Would greatly appreciate an extra helping hand!

[2019-02-24 06:19] altagir commented on #25
I tried but couldn't locate the exact cause yet, will dig further, but was perplex on that one.
I did circunvent issue for now by adding a single row alway with "no data" in first field

[2019-02-24 12:15] pavankataria commented on #25
Yeah that's an option. It would be great if you could dig further. I think it might be to do with the process method rendering things when it doesn't need to.

[2019-02-24 17:50] pavankataria commented on #21
I'd like to think you should return what was exactly selected. The datasource is driven by the developer's datasource, and so there should always be one source of truth.

[2019-02-24 17:51] pavankataria commented on #21
This means referencing 0,1 even if the table is sorted should correctly point out to the datasource's data model correctly.

[2019-02-24 17:53] pavankataria commented on #21
🎉 🎉 @dneykov, @hammood, @jwhitey2000, @altagir
This is now available as of version 0.7.0 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.0

This is how the methods are defined in the `SwiftDataTableDelegate` interface:
[code]

It's up to you to refer to the correct data from your datasource by using the indexpath as a correct reference for what the user precisely selected.

Le

[2019-02-24 17:55] pavankataria commented on #23
Hey Altagir, while the library is relatively small and while I only have short bursts of time available during the week, I'm going to keep the branch setup linear. We'll go with one branch for now and cross the bridge of multi branch at a later point. It seems like it'll take more maintenance time to cherry-pick features across the branches and ensure everything works fine.

[2019-02-24 17:56] pavankataria commented on #23
🎉 🎉 @altagir
This is now available as of version 0.7.0 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.0

Thanks for your pull request! There was some issues merging them in but your request has been integrated!

Let me know how it goes 🎉

[2019-02-24 17:56] #23 closed

[2019-02-24 18:07] dneykov commented on #21
@pavankataria Thanks!

Looking forward to use it in my project. Of course that delegate should return `IndexPath` of selected row.

[2019-02-24 19:14] pavankataria commented on #25
Since I'm short for time I had to timebox this particular issue for this week.

I suspect it's to do with column widths having `nan` values in the array.
```processColumnDataAverages```

[2019-02-24 20:33] altagir commented on #25
Indeed :D  Found a fix !

in DataStructureModel.swift / processColumnDataAverages, replace :
[code]
which creates indeed a division by 0 if data.count = 0, by :
[code]
100 being the default header size when content size couldn't be computed, could be a public parameter

[2019-02-24 20:52] altagir opened #26 "bug in positionning table"
This seems to have been introduced with latest commits

![image](https://user-images.githubusercontent.com/1028010/53305179-291dce80-384c-11e9-8af6-486395623693.png)

[2019-02-25 04:28] altagir commented on #25
or better yet, can the default header size be computed in this case byt size needed by each headers titles?

[2019-02-25 09:15] pavankataria commented on #25
Nice one! Glad you were able to dig deeper since I had to go! My debugger was getting weird and kept referencing the incorrect lines!
So the point of the method is to find the average string length of the column for that value to be the width of the column header. I don't think it's the perfect solution since sometimes long headers titles will cut off if the column's average string length is say 2

[2019-02-25 09:18] pavankataria commented on #25
In short what I was trying to say was maybe this can be a header or an enum can be created which utilises my automatic scaling to find the appropriate width distribution for the header titles across the screen. It even goes beyond the screen if the algorithm (can't remember which method it was but it's in there) determines that the headers need more space so then it'll become a scroll data table.

[2019-02-25 09:21] pavankataria commented on #26
How do you reproduce this? I'm not getting this when I open up the search page on any of the screens.  I'll need more information.
iOS, device, etc.

[2019-02-25 16:47] altagir opened #27 "remove Pods from this repository"
I think you should remove the Example/Pods folder and Podfile.lock from this repository

- clone this repo
- cd Example     (already a pods/ there with previous version)
- pod update
`Installing SwiftDataTables 0.7.0 (was 0.6.31)
`

-> remove Pods from repo
-> remove Podfile.lock ? -> or at least update it with 0.7.0

cheers

[2019-02-25 17:30] pavankataria commented on #25
FYI: adding this didn't resolve the crash for me. Did you add anything else? I'm still getting NaN values.
[code]

[2019-02-25 17:39] altagir commented on #26
Uhm... my bad, side effect of fixing the headers width
seems to be obliged to delete DerivedData and build to have proper recompiling of Pod
cannot reproduce here

[2019-02-25 17:39] #26 closed

[2019-02-25 17:43] altagir commented on #25
yes i confirm it works, was the only source of NaN
try :

I had many discrepancies with code not doing so.

[2019-02-25 17:48] altagir commented on #25
I changed to 1 for width, headers automatically fills the width
100 was making big width

[2019-02-25 18:15] altagir commented on #21
Uhm as stated earlier there is an issue with indexPath

- when we fill the dataSource with our model (unsorted / independant)
- then click on cell, return indexPath which refers to the sorted element (from DatableView view, which should remain independant from model)

to be able to use indexPath, you must put **currentRowViewModels**  and **stringRepresentation** as public.
so at least we can get

[2019-02-25 18:19] pavankataria commented on #27
I realise there's no value in adding the pods when it's just retrieving them from the source folder. It'll also make things lean and avoid an extra step of having to run pod install on the demo project. Plus it was redundant always lagging behind unless I updated after I uploaded the podspec which would cause more noisy commits.

I'll fix this in the next release. Do double check in case I leave a

[2019-02-25 18:29] pavankataria commented on #27
🎉 🎉 @altagir
This is now available as of version 0.7.1 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.1

Let me know what you think 🎉

[2019-02-25 18:52] pavankataria commented on #21
Disclaimer: Typing on my phone atm.

I see your point. You’re right. It’s currently private and I sort it myself with the request to have a delegate either the data source is supplied how conventional layouts work but in this case The library does the leg work of sorting too.

One way of solving it from the top of my mind could be to change the data source as you mentioned to public. This way the

[2019-02-25 18:58] altagir commented on #27
you need to clean current pods used in sample (Pods/ and Podfile as well as references from project)

[code]

[2019-02-25 19:09] pavankataria commented on #27
hah. I noticed immediately after
Uploading another in a bit once I get him

[2019-02-25 19:15] altagir commented on #21
I use :

[code]

changed needed :

in SwiftDataTables.swift -> add **public**
[code]

in DataCellViewModel.swift -> add
[code]

[2019-02-25 19:16] pavankataria commented on #27
It’s already been deintegrated along with a few other files, I used a plug-in from a cocoa pods creator; turns out doesn’t remove fake care of everything though deleting pod file etc is my responsibility. I’ll just push and change the tag commit reference

[2019-02-25 19:19] altagir commented on #27
it wasn't deintegrated, was still present along with workspace in 0.7.1
I had to do above commands after a fresh pull from 0.7.1.
it will clean workspace and Pods
cheers

[2019-02-25 19:20] pavankataria commented on #21
What are you trying to achieve with the string representation?

[2019-02-25 19:27] altagir commented on #21
I need to get the original string... so i can find ID i put there and find it from my model

if let claim = claims.first(where: { $0.number == selectedClaimID }) {...}

[2019-02-25 19:29] altagir commented on #27
I put all 3 issues we were talking about in last 3 commits of
https://github.com/altagir/SwiftDataTables/commits/master

[2019-02-25 22:35] pavankataria commented on #27
You're right, it wasn't deintegrated properly. I thought everything was dereferenced when I ran the deintegrate plugin. Turns out there were a few remaining pieces left as well as the configurations inside the project.

[2019-02-25 22:39] pavankataria commented on #27
Please do try again and let me know if you still see the issue. I've tried on my side and it seems everything has been cleared.

[2019-02-26 08:52] pavankataria commented on #21
You can get the tapped view model by using the index path and the what will soon be a public access to the row view models anything further than this would be too niché.

[2019-02-27 01:34] #27 closed

[2019-02-27 01:34] pavankataria commented on #27
I'll mark this issue as complete. Can reopen if there's any further issues.

[2019-02-27 01:59] altagir commented on #27
sorry for late reply, been a bit overbusy :)
just verified, all perfect, thanks mate
regards

[2019-02-27 02:09] altagir commented on #21
you know what's the next feature people are gonna scream after this ?
an optional highlight color for selected row.
since table acually act as select / deselect

can code that one in a pull request later this week if you want.
could be a color blending with the sorted column color or just override it
unsure about blending with customized cell color itself. would let the row selected color simply o

[2019-03-05 08:38] annpt1 commented on #20
Like this please!!!
![image](https://i.stack.imgur.com/yolAc.gif)

[2019-03-07 10:50] pavankataria commented on #25
I'm going to push a new version which will have this fixed. Will close this once that version is out
Thanks guys!

[2019-03-07 23:02] pavankataria commented on #25
🎉 🎉 @altagir
This is now available as of version 0.7.2 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.2

Let me know what you think 🎉

 🚀  SwiftDataTables (0.7.2) successfully published on  📅  March 7th, 22:58 GMT
 👍  Share with your friends and colleagues!

[2019-03-07 23:02] #25 closed

[2019-03-07 23:08] pavankataria commented on #21
🎉 🎉 @dneykov, @hammood, @jwhitey2000, @altagir
*Important update*
There is a `rows` property you can access to get the rows of the datasource as is maintained by SwiftDataTable.
[code]
And to make things more convenient there is a method that you can use that will access the data value for you by passing in the index path like so:
[code]
This will give you the exact cell's value that was tapped.

[2019-03-11 15:00] altagir commented on #21
Hi Pavan, you need to update the podspec to 0.7.2. regards

[2019-03-11 16:26] altagir commented on #21
[code]

**Value of type 'DataCellViewModel' has no member 'stringRepresentation'**
as mentioned earlier, in DataCellViewModel.swift -> add

    public var stringRepresentation: String {
        get {
            return self.data.stringRepresentation
        }
    }

you didn't update master? podspec is still at 0.7.1 in master, and i don't see commit
https://github.com/pavankataria/SwiftDataTables

[2019-03-15 18:57] altagir commented on #21
master still not updated, so not available through pod update.
Please reopen bug until fixed

[2019-03-16 00:30] pavankataria commented on #21
🤔 strange. Let me see what's going on

[2019-03-16 00:39] pavankataria commented on #21
Does using this not achieve this?
```dataTable.data(for: indexPath)).stringRepresentation```?

[2019-03-16 15:08] pavankataria commented on #21
Not sure what you mean, everything is available through pod update.
The latest commit also is there.
Regardless the issue still stood related to the accessor issues.

This has now been resolved and now available as of version 0.7.3 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.3

[2019-03-16 15:12] #21 closed

[2019-03-16 20:09] altagir commented on #21
Hi Pavan
It happened because I directly pointed to your github entry in my Pod.
I also tested directly from a clone of your project :)
thanks for updating master

[2019-03-25 10:00] PSA-hamza opened #28 "Latest version unavailable"
Hello,
I am unable to install the latest version 0.7.3 which is compatible to swift 4.2

The latest I could install is the 0.6.31

[2019-03-25 11:57] rmehta33 commented on #28
I am also having the same issue.

EDIT: I got it working by updating my pod repo.

[2019-03-25 12:23] PSA-hamza commented on #28
Ok, just did a pod repo update and it works, thanks

[2019-03-25 12:23] #28 closed

[2019-03-25 15:51] rmehta33 opened #29 "Anyway to allow for infinite scrolling?"
Hello,

Is there a way to do infinite scrolling? In UITableView it's relatively simple using scrollViewDidScroll, but I can't find something similar for this library.

Please help!

[2019-03-26 06:08] az-oolloow opened #30 "Items get loaded into memory, needs improving."
Basically, looking at how the control is laid out, all the data has to be loaded into `currentRowViewModels`.
So while the delegate has a good api that would allow it to provide data sequentially (e.g. from remote api or sqlite db), in practice all the data is loaded into memory in one go.
So if you have just a measly 10K rows over 5 columns, performance is very poor because just to load the data

[2019-03-26 14:32] altagir commented on #30
I guess this is due to the sorting capability which double the source and sorted data ?
maybe the sorting should be delegated to view controller calling

[2019-03-26 15:21] pavankataria commented on #30
By the sounds of it it sounds like it might be more than just the double the source..
I can see the issues here loading it all into memory, of course.
@az-oolloow Could you create a sample project with the bare essentials that demonstrates the issue you explained?
You can create a github repo or whatever you prefer, so we can check it out.

[2019-03-27 11:36] pavankataria commented on #28
Glad you guys figured it out. You need to run pod update.

[2019-03-27 14:10] pavankataria commented on #29
How are you achieving this with that delegate method with UITableView?

I'm presuming the implementation here, if you change the y offset position to go back to the top, but wouldn't the velocity suddenly change during a scroll and it coming to a half after the offset? aka it does not continue scrolling after changing the offset to give the effect of infinite scrolling

[2019-03-28 08:53] pavankataria commented on #30
Any updates on this?

[2019-03-28 17:31] altagir commented on #30
To do a simple test :

in DataTableWithDataSourceViewController.swift :
[code]
Since sort is slow with huge data set, a spinner could be useful also, if sorting time > 0.2s for example

But I also think using 10000 entries is not really practical.... as of right now you have to scroll to the end, page by page.
isn't there a way to jump the scroll in the collectionview ? i.e. tapping on the right s

[2019-03-29 23:55] pavankataria commented on #30
Or we could supply the datasource on the fly, but this does mean having to calculate the row heights somehow too.. I imagine this would provide a choppy experience.

[2019-03-29 23:56] pavankataria commented on #30
Loading 10000 items isn't practical. There'll be memory issues too..

[2019-03-30 00:07] altagir commented on #30
How about delegating the data source ?
That would avoid doubling at least

[2019-03-30 00:11] altagir commented on #30
Why calculate the row height? Aren't they constants?

[2019-03-31 18:18] pavankataria commented on #30
Custom heights can be returned.

[2019-04-08 20:54] pavankataria commented on #30
If anyone has any suggestions I'd love to hear them.

[2019-04-09 14:03] rmehta33 commented on #29
So first I check whether I need to generate more data (using y offset), and then if I do, add the new data, reload the table, and scroll to the new last element using scrollToRow with the ".none" option. Not sure how it works behind the scenes, but there are plenty of articles online that go more in depth.

[2019-04-26 18:15] altagir opened #31 "Specify color of sort arrow icon"
hello

Can we add a property for the color of the arrow icon when sorted ?

it would require in DataHeaderFooterViewModel:
[code]
and in DataHeaderFooter :
[code]
replace UIColor.red by new name of property

regards

[2019-05-01 22:10] pavankataria commented on #31
This should be easy to do. Have you already done this? I welcome pull requests if you're up for creating one.

[2019-05-02 14:21] altagir commented on #31
I just did a pull request to your master, cheers

[2019-05-07 14:29] altagir commented on #31
news?

[2019-05-07 14:31] altagir opened #33 "refreshControl"
I implemented a refreshControl on the scrollView containing the DataTable, but it fails sometimes
I see you have started implementation for that, can it be completed?

[2019-05-08 11:07] pavankataria commented on #31
Hey there, awesome. Will review this tonight. I've been travelling here and there and haven't been able to tune in.

[2019-05-08 12:02] pavankataria commented on #33
What's happening on your side that's causing it to fail sometimes? Hah there's a couple of things I've started implementing but then paused since the main priorities needed to be fixed first.

I think the other issue is my highest priority at the moment. To make scrolling more efficient for 10,000 plus items.

[2019-05-08 19:43] altagir commented on #33
there is a difference between ios10+ and ios9:

- when using ios10+ and calling
[code]
The pull to refresh appears between the header view and the datatable itself. i.e. only the collectionView respond to pulling, not the header and search

-> I wish there was some possibility to be able to avoid the collectionView bouncing  (it is currently allowed on top and bottom, but not configurable)

- With

[2019-05-08 21:30] pavankataria commented on #33
Yeah, they've been programmed not to move. They're hardcoded to stay fixed. I'll have to think what I want to achieve with refresh control added.... perhaps the headers should move with it too....

[2019-05-08 21:55] altagir commented on #33
i agree.
let s say if one has a delegate callback to refresh data, your behavior could be overridden to have the whole view act as a pulldown. should also have a completion block to notify async of refresh completion

i also dont see the interest ot a bouncing dataview. right now the pull to refresh overlap the search and header fields, which is weird. i would rather have the whole view bounce or

[2019-05-28 18:16] altagir commented on #33
will implement in my fork

[2019-05-28 18:16] #33 closed

[2019-06-11 17:48] Waskalle-Bahena opened #34 "Configuration options doesn't change"
Environment:
SwiftDataTables: 0.7.3
Xcode: 10.0
iOS: 21.1

Hello, I recently installed swiftdatatables in my project, and I have a detail to change the configuration options since I am trying to change the color of the rows or hide the search bar and it does not take any change.

I checked how the example is done and basically I am doing the same, but with me it does not respect any change in the

[2019-06-13 22:15] altagir commented on #34
did you solve it because I see nothing wrong here
post your code

[2019-06-14 20:56] Waskalle-Bahena commented on #34
i didn't solved yet :(, i installed the package via cocoa pods on my proyect, so that code it's what i'm using to use my dataTables.

I have no errors :/.

[2019-06-15 09:18] 350541732 opened #35 "searchbar"
I get an bug..
I write this this code
    lazy var dataTable:SwiftDataTable = {
        var options = DataTableConfiguration()
        options.shouldContentWidthScaleToFillFrame = false
        options.defaultOrdering = DataTableColumnOrder(index: 1, order: .ascending)
        options.shouldShowFooter = false
        options.shouldShowSearchSection = false
        let t = SwiftDataTable(data: [],

[2019-06-17 12:17] pavankataria commented on #34
Are you able to reproduce this in a brand new bare bones project?
I'd be happy to take a look if you're able to reproduce this.

[2019-06-17 12:18] pavankataria commented on #35
Which version of Swift are you using? Which version of the package you're using?
Could you follow the issue template please so that I know what your setup looks like?

[2019-06-17 17:09] Waskalle-Bahena commented on #34
Ok i do that on a new project, where only install the swiftDataTables plugin and setUp an example.

It's also not working, i have the same proble with the configuration attributes. If i'm doing something wrong let know it.

Swift 5
Deployment Target 12.2
Xcode 10
SwiftDataTables: 0.7.3

PROJECT
[TestDataTable.zip](https://github.com/pavankataria/SwiftDataTables/files/3298099/TestDataTable.zip)
:

[2019-06-17 17:13] Waskalle-Bahena commented on #34
Thanks for your time.

Ok i do that on a new project, where only install the swiftDataTables plugin and setUp an example.

It's also not working, i have the same proble with the configuration attributes. If i'm doing something wrong let know it.

Swift 5
Deployment Target 12.2
Xcode 10
SwiftDataTables: 0.7.3

PROJECT
[TestDataTable.zip](https://github.com/pavankataria/SwiftDataTables/files/3298109

[2019-06-18 11:33] hamzabinamin commented on #20
@pavankataria Were you able to figure it out?

Btw our first version is live on the app store now. If you want I can link it here.

[2019-06-18 14:52] pavankataria commented on #34
Thank you for the project, that helps. I've seen what the problem is.

Here's the next steps I'l be carrying out.
1) Investigate the issue [Done]
2) Reaffirm issue with tests and resolve the issue [In the process].
3) upload a new version of the project.

I'll keep you updated

[2019-06-18 15:58] pavankataria commented on #34
Quick update: I've fixed the issue after writing the tests to confirm the issue. All the tests pass now so this issue will no longer happen.
This fix will be released in the next version: 0.7.4

[2019-06-18 16:00] pavankataria commented on #35
This is tied to another issue related to configuration options not working when using a specific initialiser.

Conversation continued on: #34

[2019-06-18 16:00] #35 closed

[2019-06-18 17:08] Waskalle-Bahena commented on #34
Thank you so much for your time @pavankataria , i'll be waiting for the next version. ✌️

[2019-06-18 17:35] pavankataria commented on #34
🎉 🎉 @Waskalle-Bahena cc @altagir
This fix is available as of version 0.7.4 🎉 🎉 https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.4

🚀  SwiftDataTables (0.7.4) successfully published 📅  June 18th, 18:32
👍 Share with your friends and colleagues!

Let me know what you think and if all works well so we can close this issue if there are no problems on your side! 🎉

It should be as simple

[2019-06-18 17:38] pavankataria commented on #31
🎉 🎉 @altagir
This improvement of yours is now available as of version 0.7.4 🎉 🎉 Sorry it took a while, was extremely caught up with some issues at work.

TIL: There were a few issues related to updating to swift 5, the technicals are the .swift_version file is now redundant, and swift_version has to be used in the podspec file.

https://github.com/pavankataria/SwiftDataTables/releases/tag/0.7.4

🚀

[2019-06-18 17:50] Waskalle-Bahena commented on #34
Perfect.

I've run the **pod update** on my project and all works perfectly.

Again thank you so much for your help.

Let's share this amazing package!!! 🤘

[2019-06-18 20:19] pavankataria commented on #20
@hamzabinamin Absolutely, that'll be awesome.

[2019-06-18 20:20] pavankataria commented on #20
@annpt1 Thank you. That's great.
@hamzabinamin

No, I haven't started this work yet since I've been incredibly busy due to some issues that took place at work.

I now finally have the time and have been closing issues today and releasing a new update which you guys should download for the fixes!

[2019-06-18 22:54] #34 closed

[2019-06-19 04:40] pavankataria commented on #20
Quick update, I started this feature several hours ago **and have just finished it**. I feel the use of the new api is straight forward! cc @hamzabinamin @annpt1

### How to use the new Fixed columns feature!
Here's how you define which columns you want frozen, by using the all new `DataTableFixedColumnType` class, and using any of the initialisers like so
[code]
You can implement fixed columns in

[2019-06-19 09:00] pavankataria commented on #35
Quick update @350541732 : this has been fixed, please download the latest version!
https://github.com/pavankataria/SwiftDataTables/releases/tag/0.8.0

[2019-06-20 01:14] #31 closed

[2019-06-21 13:43] hamzabinamin commented on #20
@pavankataria Hey thanks for this :D

Is there a way that the user can fix/unfix a column by touching on the screen?

Also a few number of our users reported that they'd like to see the text wrap up to the next line (currently when the text is long, it uses a smaller font as compared to other row items). Is this somehow achievable?

Again thank you for the great work.

The link to the app: https:/

[2019-06-28 08:35] pavankataria commented on #20
Do you have animations on what the interactions for the fixing and unfixing might look like?

[2019-06-28 08:36] pavankataria commented on #20
Yeah I have to think about this as currently the rows heights are specified rather than calculated with auto layout.

Please create issues for those two other requests so they can be individually tracked.

[2019-06-28 08:38] #20 closed

[2019-06-28 12:34] hamzabinamin opened #36 "Allow text to wrap up to the next line"
Would be really helpful to wrap longer text on to the next line instead of making the font smaller.

[2019-07-08 15:13] hamzabinamin commented on #36
@pavankataria  did you get a chance to take a look at this?

[2019-07-09 06:17] anismansuri63 opened #37 "Is it possible to freeze last row of table?"
I've some requirement in which I need to freeze last row of table.
It is possible?

[2019-07-09 08:52] pavankataria commented on #37
You're in luck, the freezing columns  feature was recently built.
This feature is available from version `0.8.0` so update your pods to the latest version 🎉 🎉

You can check out the release notes and tutorial here:
https://github.com/pavankataria/SwiftDataTables/releases/tag/0.8.0

Does this help?

[2019-07-09 09:30] anismansuri63 commented on #37
Thank for the help, but it will freeze the column. I wanted to freeze the last row
I made changes in **SwiftDataTable, DataStructureModel** init method. Footer values passed along side header values.
Enabled shouldShowFooter in DataTableConfiguration.
Thanks again.

[2019-07-09 09:30] #37 closed

[2019-07-09 10:35] pavankataria commented on #37
What do the shouldShowFooter properties have anything to do with this?
Are you freezing the footer or the row itself? Would be interested to find out what you did in a bit more detail incase this is going to be useful for someone else.

[2019-07-30 16:11] makslevental opened #39 "Change font?"
Is there a way to change the fonts without messing with the xibs?

[2019-07-30 22:08] altagir commented on #39
by using apperances

[2019-07-31 02:04] makslevental commented on #39
@altagir what does this mean?

[2019-07-31 12:16] pavankataria commented on #39
Yeah so you can either use either the UIAppearance class as altagir mentioned though I do think there's a strong case to allow the user to provide their own custom view and this could solve so many appearance related requests.

I just don't know the best way to deal with resizing since the data table currently manually resizes each row. I just haven't thought about how this would work in relation

[2019-07-31 12:21] pavankataria commented on #36
Hi @hamzabinamin, yes, this is again related to autolayout and it's not something I've tried to resolve just yet since it's quite complicated having had to create auto calculating cell heights in collection views. In the past I resorted to using what I believe is called a self sizing class but it got ugly in terms of coding and doesn't fair well when there's varying types of cells.

I have a hard

[2019-08-07 07:05] kvenkata1974 opened #40 "Drag and drop to reorder rows"
Hi,
I'm using version 0.8 of SwiftDataTables.

Can the rows not be reorder via drag and drop?

Was hoping the delegate would allow for drag and drop of rows.

Cheers
Karthik

[2019-08-07 07:08] kvenkata1974 commented on #40
I should be using the drag and drop delegate of the collection view, will try that first.

[2019-08-07 08:18] kvenkata1974 commented on #40
Sorry, tried using UICollectionViewDelegate and implemented the methods (extended SwiftDataTable since it already implements the protocol):

    func collectionView(_ collectionView: UICollectionView, canFocusItemAt indexPath: IndexPath) -> Bool {
        return true
    }

    func collectionView(_ collectionView: UICollectionView, moveItemAt sourceIndexPath: IndexPath, to destinationIndexPath: I

[2019-08-07 12:08] SogoGolf opened #41 "Inline edit?"
Hi is it possible to edit grid data directly in a cell and then save / update?

[2019-08-14 14:40] pavankataria commented on #41
Hi there, no, it's not currently possible to do this. When custom views are inserted maybe then you can add your own custom view, and handle the saving and updating mechanism yourself.

[2019-08-14 14:40] #41 closed

[2019-08-14 14:42] pavankataria commented on #40
Yeah I didn't have this in mind and not sure how adopting those methods will affect the ordering of the swift data tables datasource. Come to think of it, I believe you'll need to update the datasource yourself once you figure out where the user wants to drag and drop an item. You'll then need to refresh the collection view to reflect the changes.

[2019-09-07 17:00] madhavajay commented on #39
It's a real pity, I was trying to use this but unfortunately the inability to change fonts and font sizes and control if the font text wraps or gets shrunk made this unusable. So plus +1 to having more control over the text in each cell.

[2019-11-02 18:16] cgarcia55 opened #45 "Catch the click in headers?"
it is possible to intercept the didTapColumn function, in order to manipulate the sortof the information, since I have a problem in which I cannot format the numbers (example: $ 1,234,344.44) since they are converted to string and when accommodating them it does not correctly.

[2019-11-04 21:10] pavankataria commented on #45
I'm not sure I understand. What is the connection between the `didTapColumn` and formatting numbers? You should be able to format the numbers as you please and then insert that into the Data object as a string.

For example
[code]

[2019-11-04 21:12] pavankataria commented on #39
Was hoping this would generate some noise but it's been relatively quiet. I'm hoping there's a clean way to allow text wrapping of cells in SwiftDataTable. This does require working out the height of each cell. If this is possible using the Autolayout engine to determine the size that would be best.

[2019-11-04 21:59] cgarcia55 commented on #45
An apology if I did not explain myself well, I have already formatted the data, the detail is that if I press the header of any of the columns, the sort that gives me is incorrect because the value of the data is not double, rather its a string ( or so I think that is the reason), since it does not give me a completely correct ascending arrangement neither descending one .
I attach an image.

![ta

[2019-11-04 23:47] pavankataria commented on #45
Okay, that's a problem. Thank you for writing such a detailed and helpful response.
What we need is a custom sort allowing you to define the sort order for specific columns.

I will want to work on this as soon as possible. Can you tell me how you would want to define the sorting behavior yourself?

[2019-11-05 00:25] cgarcia55 commented on #45
I had the idea of managing a kind of absolute value by converting the currency value to double, in order to make a normal ascending arrangement.
That was why my question, if it was possible to intercept the click in the header. to sort from the arrangement that fills the table.

[2019-11-05 00:55] altagir commented on #39
custom cell with automatic dimension `tableview.rowheight = UITableViewAutomaticDimensionn`

then use autolayout in a custom UITableViewCell to constraint height

ideally SwiftDataTable should provide a setter to set a custom nib

[2019-11-06 21:01] pavankataria commented on #39
So I'm not using tableviews here, and SwiftDataTables uses collection views with fixed heights defined. Using auto layout engine to determine the sizes of each row is the ideal scenario.
Though while scrolling, as you don't want to calculate sizes of all the rows since they're not all presented.

I think the first step is to allow custom cells, though the issue still remains, these custom views wi

[2019-12-27 17:18] MariusGen1 opened #47 "Remove sort arrow"
Hi,
Would it be possible to add an option to remove the sort arrow?
Something like:

`configuration.showSortArrow = false`

Marius

[2020-01-20 15:25] anudeep94 opened #48 "Unexpected duplicate tasks"
Hi,
I was releasing an update for our app to iOS 13, from Xcode 11.3  and archiving it fails with errors like:

Unexpected duplicate tasks:
1) Target 'SwiftDataTables' (project 'Pods') has copy command from '/Users/ecosoft/Desktop/BS OE Survey 2/Pods/SwiftDataTables/SwiftDataTables/SwiftDataTables.bundle/column-sort-ascending.png' to '/Users/ecosoft/Library/Developer/Xcode/DerivedData/BS_OE_Survey

[2020-03-04 19:45] KarasIlia commented on #48
Hi!
I have the same problem when trying to archive, does anyone know how to solve it?

UPD: Removing references to 3 files "column-sort-ascending.png", "column-sort-descending.png" and "column-sort-unspecified.png" in Pods/SwiftDataTables helped to me.

[2020-03-06 14:06] PerplexedFox opened #49 "Change cell size and combine them with other elements?"
Hi,
is there a way to change the size of dynamically sized cells? My cell width depends on its content, yet for some reason, there is an additional white space afterward. I need to get rid of it, but sadly, I could not find a way to do this.
The biggest issue I have is that this resizing works seemingly at random so that many headers are cropped, while others made very wide. Do you have any idea w

[2020-03-21 16:44] PerplexedFox opened #50 "Delegate method for row color: changes Columns instead of Rows!"
Hi,

I need a way to fixedly highlight one row (depending on data, do that after sorting the right row is still highlighted)
So I implemented the delegate functions
[code]
 and
[code]

however, instead of alternating rows (horizontally), these methods color the whole columns!

Can you fix it?

[2020-03-30 17:59] pavankataria commented on #50
Hi, the API currently does not support resizing a column automatically based on the width of its content as it is out of the original scope. My hope is to be able to figure out the best way to do this.

Until then you'll have to decide what width you'd like for your columns and specify the width by opting out of automatic width calculation and using the `widthForColumnAt` delegate method.

[2020-03-30 18:01] pavankataria commented on #48
Are you saying this prevents you from uploading completely?

[2020-03-30 18:05] pavankataria commented on #48
Did you resolve your issue in the end @anudeep94?

Please update to the latest version of SwiftDataTables.
That folder is no longer there.

Thank you @KarasIlia for being so helpful to @anudeep94 while I was away.

[2020-04-02 17:31] PerplexedFox commented on #50
Hi,
thank you for the answer. The biggest issue I have is that this resizing works seemingly at random so that many headers are cropped, while others made very wide. Do you have any idea why the cropping occurs?
<img width="653" alt="Screenshot 2020-04-02 at 19 30 34" src="https://user-images.githubusercontent.com/60888823/78279869-7ae95b80-7518-11ea-89e7-2620da42f2ff.png">
<img width="575" alt="S

[2020-04-05 11:39] pavankataria commented on #50
Could you upload a bare-bones project on your github that highlights this issue so that I can test it?
This looks unsightly and needs to be resolved.

[2020-04-05 11:43] pavankataria commented on #50
You've already raised this in a new issue which is the correct way to go about this. We can leave this issue open for the colouring issue.

You mentioned highlighting rows after sorting, could you please explain what you expect in regards to your row colouring?

[2020-04-05 11:46] pavankataria commented on #49
Thank you for the screenshots. This looks unsightly and needs to be resolved. Could you upload a bare-minimum project on your github that highlights this issue so that I can test it?

[2020-04-05 11:49] pavankataria commented on #49
I also noticed you changed the title from `create table with defined size instead of full screen?` To do this, you simply create a `SwiftDataTable` view and set it's size with constraints like you would do with any other `UIView`.

[2020-04-05 12:10] pavankataria commented on #50
![Screenshot 2020-04-05 at 13 06 27](https://user-images.githubusercontent.com/1791244/78485409-d09f4d00-773e-11ea-9a15-5b4f108140b8.png)
Rows are colouring as expected.  If you have a different expectation please outline how you'd like to interface with the library and what coloring feature you would like to see.

[2020-04-05 17:04] PerplexedFox commented on #49
Hi, thanks for your answer.

Since I may not share my project, I created a new one with two view Controllers out of the original project where the SwitDataTables is used (there are 20+ controllers, additional functionality not relevant to this problem) but with the same data. You can find it here:  https://github.com/PerplexedFox/SwiftDataTables_minEx

You will find the example of the color delega

[2020-04-05 17:06] PerplexedFox commented on #50
Hi, thanks for your answer.

Since I may not share my project, I created a new one with two view Controllers but the same data. You can find it here: https://github.com/PerplexedFox/SwiftDataTables_minEx

You will find the example of the color delegate function problem(`func dataTable(_ dataTable: SwiftDataTable, unhighlightedColorForRowIndex at: Int) -> UIColor` and `func dataTable(_ dataTable: S

[2020-04-07 10:29] kishorekumarek commented on #48
@pavankataria I have this issue, should we delete the files manually to solve this?

I am already in the latest version SwiftDataTables (0.8.1), but still get this error.

All these image files getting added in both classes and resources directory. We may have to update the podspec to exclude path to these files in classes directory, if we change it to following it works.

![image](https://user-im

[2020-04-08 11:58] PerplexedFox commented on #49
I also still have the following question:

[2020-04-09 11:16] PerplexedFox commented on #39
Hi, @pavankataria  so I would like to be able to change the font size of the cells and headers, but keeping other SwiftDataTable-unrelated labels as they were. What is the best way to do it?

[2020-04-14 10:36] PerplexedFox commented on #50
Got it.

in
[code]

**indexPath.item** must be replaced by **indexPath.section**

[2020-04-14 10:36] #50 closed

[2020-04-20 00:36] pavankataria commented on #49
Hi, again I just need a vanilla project that ONLY has the bare minimum code needed to reproduce the problem, this will us to focus on the isolated problem and not go on a rabbit hunt chasing other things not related to the main issue.

[2020-04-25 00:32] dcoletto commented on #48
I have this issue too, right after running pod install with this new pod added. Any news on this?

[2020-04-26 11:27] milindrc opened #52 "-[UIView setImage:]: unrecognized selector"
Getting this error

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UIView setImage:]: unrecognized selector sent to instance 0x1022cec80'

[2020-05-02 03:56] pavankataria commented on #52
Where are you getting this?

[2020-05-04 01:57] alex1392 opened #53 "Support the dark mode?"
First of all, thank you for creating such great tool for us.
I'm just wondering if SwiftDataTable is able to support the dark mode? Since when using it in the dark mode, all the text in the table turns to white, while the background of the table doesn't. This makes the content completely unreadable.
I've tried to add some condition like "traitCollection.userInterfaceStyle" in your source code to d

[2020-05-04 04:07] yuchung-chuang commented on #53
just found out that @Anonym0uz has created a pull request which solved this issue

[2020-05-04 04:07] #53 closed

[2020-05-14 04:48] dkawashima opened #54 "Column header text cut off on scroll"
iOS 11, most recent SwiftDataTables update.

When I create a table and scroll outside of the initial view, a lot of the header titles get shortened to the point where you cannot tell what the title is.

If all of the headers are visible without having to scroll left, then it works perfectly. But if the datatable is too big to fit without scrolling, I see something like this.

I couldn't find a par

[2020-05-14 23:15] pavankataria commented on #54
Okay, I can't reproduce this my end. Could you create a vanilla xcode project so I can check it out please? Aka the bare minimum required to reproduce this please.

I can then take a look at this and see what's going on.

[2020-05-16 23:50] dkawashima commented on #54
Cool, thanks! working on getting a vanilla Xcode project. For more info, I've noticed this is only an issue if the value in the column itself is an integer. For strings, it works fine.

[2020-05-17 00:33] pavankataria commented on #54
Hi @dkawashima , cheers for the debugging. I look forward to receiving your vanilla project.

In the mean time I've just upgraded to Catalina and I'm experiencing a wealth of development problems. Xcode keeps crashing and taking me the login screen where I'm then locked out until I restart. Lol, rebooting in safe mode things work well so all hope is not lost.
It would have been better had I downlo

[2020-05-17 02:25] pavankataria commented on #47
How would you know which way the sorting order is then at an instant?

[2020-05-24 01:47] pavankataria commented on #48
Can you folks try the latest master now please and let me know if you still get this issue on your side? This should be resolved now.

[2020-05-24 01:49] pavankataria commented on #48
@tringkishorekumar thank you. Will fix this and push to master.

[2020-06-03 12:04] nikolaveljic64 commented on #47
Default sorting order can be from json which you get. @pavankataria

Thanks.

[2020-06-06 04:38] pavankataria commented on #47
I meant visually, the user wouldn't know the order at a glance.

Would you expect there to be sorting capability (tapping on the column headers) if the `showSortArrow` property was set to false?

[2020-06-11 10:19] bakshioye opened #55 "Can we add non-text data such as buttons, images and others into the rows of DataTable?"

[2020-06-12 11:16] bakshioye commented on #49
Hi @PerplexedFox , Is this thing possible for this library? Or did you find some workaround. I have the same problem and I have to add buttons and images to the cells as well

[2020-06-12 14:03] pavankataria commented on #55
Not yet, as I haven't thought of a clean way to do this just yet. The main goal of this library is to allow the quick display and filtering of datasets. I will be inclined to add the ability to add those views in when SwiftDataTable is capable of handling autolayout cells.

[2020-06-12 14:04] pavankataria commented on #49
How did you get on @PerplexedFox, we you able to get that vanilla project sorted?

[2020-06-12 15:14] PerplexedFox commented on #49
alas, it is not possible, or at least I could not do it. I settled on an other design, where the functionality is implemented using navigation and tab bars. Also, I used triggered actions with didSelect depending on which row and column the cell belongs. This works similarly to buttons,  looks really flat though

I forked the library and solved it for myself, as well as added a couple of delegates

[2020-06-12 15:14] #49 closed

[2020-06-16 12:54] PerplexedFox commented on #54
@dkawashima, had this problem. You need to change the column width calculation, which is currently quite rough. It works with strings because they are usually wider, which means the "average" width is greater.

[2020-06-17 02:41] dkawashima commented on #54
@PerplexedFox do you mean manually changing the column width calculations, for each header?

[2020-06-17 04:31] vahidnety commented on #48
I fixed in my local code this way:
go to file>Workspace Settings> set build system to Legacy Build system.
then compile and enjoy your life.

[2020-06-17 14:41] hamzabinamin commented on #36
@pavankataria Its been a while, hope you're doing okay!

Has there been any update regarding this feature?

[2020-06-18 00:36] pavankataria commented on #36
Hi @hamzabinamin I'm afraid until an elegant solution hasn't been found I can't implement it. I don't want to explore hacky options as there needs to be a long term solution. I'll need some help in this regard but waiting for the right individual to come along who has experience in creating custom UICollectionView layouts which works well with Autolayout. It's actually harder than it seems.
Sorry

[2020-06-24 18:15] pavankataria opened #56 "SwiftDataTable Announcement!"
I hope you all are well during these treacherous times with all that's going on in the world especially with the pandemic. Stay safe everyone.

On to the announcement.
This project is very much active first and foremost. As you all know I've been thinking long and hard on how to implement self sizing cells in a grid like system. UICollectionViews can be very buggy to deal with, and has given many

[2020-06-26 14:03] pavankataria commented on #36
I am working on this, as you can see in this prototype I'm working on you can see cells self size just fine, the issue is that the other cells don't expand their height which would look visually more appealing.
![image](https://user-images.githubusercontent.com/1791244/85865735-3a6b4800-b7be-11ea-8d8a-8f7210f407f3.png)

[2020-06-28 10:49] hamzabinamin commented on #36
@pavankataria Before populating the cells, can't we calculate the max number of lines a value can utilize and update the table view row height for all cells?

[2020-06-29 02:32] pavankataria commented on #36
It's hacky and only sort of works for this scenario, it's not a scalable solution. Imagine cells that can have any kind of view which doesn't depend on textfields. For example a button, or an image etc, they should also self size.
The behaviour we want is that the cells in the same row should resize to the tallest cell after the autolayout engine has calculated the heights of all the cells in the

[2020-06-29 08:30] vahidnety commented on #29
Any update for this?

[2020-06-29 08:31] vahidnety commented on #29
Have you found solution for this case?

[2020-06-29 11:12] killeriax opened #57 "Pagination support?"
Hi! As far as I understand, this library currently does not support pagination?

[2020-06-29 11:14] pavankataria commented on #29
In order for this to be achievable we must have first class support to add elements and reload efficiently without redrawing everything. This is one reason why this hasn't been explored further.

I'm currently focused on self sizing cells to to support a couple of features.
I believe if this prototype proves successful the ability to add infinite scrolling will come for free.

I'll post on this is

[2020-06-29 15:49] pavankataria commented on #57
That's correct. However, this is a feature that's also in the pipeline. Right now there's full focus on allowing self sizing cells with the ability to provide custom views. Soon after this feature will come in.

You can see in the codebase that work on pagination has already bled through ;)

[2020-07-02 03:09] pavankataria commented on #54
@dkawashima @PerplexedFox how would you guys prefer this to be calculated?
I'm thinking of making it so that the user specifies a hardcoded width for each of the columns which will by default propagate to the header and items width.

What do you think? I'm considering removing the auto calculation especially since it relies on the data being textual. And iterating through every item in the datasou

[2020-07-02 03:16] pavankataria commented on #55
Working on a prototype.

[2020-07-09 05:04] dkawashima commented on #54
yeah i think that makes sense (hardcoded width). otherwise could make sure text doesn't get cut off or resizes to fit current width as Apple typically does with a UILabel. like hardcoded width though

[2020-07-14 14:36] hemant3370 opened #58 "Build issues"
Unexpected duplicate tasks:
1) Target 'SwiftDataTables' (project 'Pods') has copy command from '/Users/hemantsingh/Documents/GitHub/ios-sam-mobile/Pods/SwiftDataTables/SwiftDataTables/SwiftDataTables.bundle/column-sort-descending.png' to '/Users/hemantsingh/Library/Developer/Xcode/DerivedData/SAM-chkwwwclzakjpvctkzvdqqdtyich/Build/Products/Dev-iphonesimulator/SwiftDataTables/SwiftDataTables.framew

[2020-07-15 21:27] pavankataria commented on #58
What are the exact steps you run to get this error? Are you able to product this error with the example app?

Please state what you did to get this.

[2020-07-21 03:10] vahidnety opened #59 "Automatic width calculation issue"
Please take a look at the screen shot below.
When i scroll to right side, it looks that the width of the cell calculated double thats why it goes to empty until reach to the end of the cell.
How to fix it? Can i fix it in my side? or i have to wait for new version of the library? Thanks your help on this.

![2020-07-21 11 03 55](https://user-images.githubusercontent.com/2021111/88008452-e1839b00-c

[2020-07-21 17:41] pavankataria commented on #59
That's interesting, I would say provide a demo project but I'm currently working on a prototype that will fundamentally change the way cell widths are calculated. So fixing this now might be redundant. Bare with me on this.

[2020-07-22 01:30] vahidnety commented on #59
Thanks so i consider it close for now and if it happen with the future library, then will reopen it.

[2020-07-22 01:30] #59 closed

[2020-07-23 16:58] hemant3370 commented on #58
I just followed the cocoapod integration and the project gives out this error on building.

[2020-08-19 13:45] ArtemRiabtsev commented on #58
Go to xCode -> Product -> Archive: and got this issue.

[2020-08-25 13:11] dipen-apptrait commented on #47
It will be good to have an option to hide the sorting arrow and when it is hidden user can not tap on the column header to sort.

[2020-09-10 15:11] PerplexedFox commented on #58
same here

[2020-09-18 17:15] dipen-apptrait commented on #48
I solved this issue by deleting this png file from the compile sources under the build phase of this pod.

[2020-10-01 02:41] kaomte commented on #58
Same here. Just got this after trying to upgrade to XCode 12.

[2020-10-01 03:13] kaomte commented on #58
I fixed this in this pull request #60

[2020-10-02 23:50] ShezCansoft opened #61 "dataTable.reloadRowsOnly() doesn't do anything and dataTable.reload() crashes"
- Environment: SwiftDataTables - 0.8.1, Xcode - 12.0.1, and iOS - 13
I am trying to show different data based upon the user's selection from a dropdown. Once the user selects the data they want. I run an API call to get the data and update my data array. After doing that, I need to update the table to display the latest retrieved information. So I tried doing dataTable.reloadRowsOnly() and it does

[2020-10-03 06:23] ShezCansoft commented on #61
I was not using datasource (which mentioned in the readme that works best with dynamic data). Sorry for any disturbance caused. Closing it as I figured out my mistake. Thanks

[2020-10-03 06:23] #61 closed

[2020-11-17 18:42] pavankataria commented on #58
Thanks @kaomte .

[2020-11-17 18:42] #58 closed

[2020-11-21 21:01] miamilabs opened #62 "data : Server Side loading"
Hi Community,

first of all, i come from different world (Java Coding...) but i am also playing around with swift and trying to get into this. So i am not expert at all here. Excuse me if my question is wrong here.

Question :

Does this Project support Server Side loading of data?

It would be great to have also pagination (https://github.com/pavankataria/SwiftDataTables/issues/57) as there are s

[2020-11-29 22:28] pavankataria commented on #62
Yes it does though not as smoothly as I'd like it to. You have to refresh the entire table in order to support dynamic datasources.
This is an area that can be improved but because there are other priorities for this library but the process of making this seamless is on the backlog.

[2020-11-29 22:30] pavankataria commented on #47
I like this idea @dipen-apptrait . I welcome pull requests.

[2020-11-30 15:45] mpurl commented on #55
Would be great if TextFields would be supported as well.

[2020-12-01 12:32] pavankataria commented on #55
To be specific, the prototype that I'm working on would allow users to add their own custom views. This would make the framework flexible.

[2020-12-08 04:26] pavankataria commented on #48
@dipen-apptrait @vahidnety @dcoletto @tringkishorekumar @KarasIlia @anudeep94
![image](https://user-images.githubusercontent.com/1791244/101439923-8f82bc80-390d-11eb-98c0-6931198976f8.png)

Please upgrade to the latest version of `SwiftDataTables` (0.8.2) to receive a fix for this issue. Thank you.

 🚀  SwiftDataTables (0.8.2) successfully published on  📅  December 8th, 04:03
👍 Share with your fri

[2020-12-08 04:27] #48 closed

[2020-12-09 18:14] harifsp commented on #47
How can I disable the sort option? Please help!

[2021-01-25 16:31] marchildmann opened #63 "Patron support and (Inline) Editing"
I really do love this piece of software as I think there is a huge demand for data applications on a mobile environment.
It would be great if we could support your work on Patron and get new features more quickly.

I'd love to see
(Inline) Editing

Cheers
Marc

[2021-01-26 08:48] AlaghbariKamel opened #64 "Good Work How to Save all tableView data into pdf file with all bounds"
Before submitting issues ...

- Make sure you are using SwiftDataTables [latest release](https://github.com/pavankataria/SwiftDataTables/releases) or master branch version.
- Make sure your Xcode version is the latest stable one.
- Check if the issue was [already reported or fixed](https://github.com/pavankataria/SwiftDataTables/issues?utf8=%E2%9C%93&q=is%3Aissue). We add labels to each issue in o

[2021-03-11 16:32] ndreisg commented on #59
I have the same issue. @pavankataria: Any news about that fundamental changes?

[2021-03-17 09:14] Pulkit2017 opened #66 "Change theme"
Can i change the text color and background color of the table?

[2021-03-29 19:46] harifsp opened #67 "How to do Swipe to delete the data-table section?"
How to do Swipe to delete the data-table section?

[2021-04-03 06:44] pavankataria commented on #66
For now you can change the color of the cells.

[2021-08-18 07:01] fransiscou opened #69 "Create SwiftDataTables inside TableViewCell"
Hello, I'm working in a newspaper app and the new detail has shown with a TableViewController with reusable custom cells. When the service gives me a type "table" I have to show a SwiftDateTable inside my custom cell.

I'm trying to implementing it but I only can render the searchBar.

Are there any problem with this case?

Thanks!

[2021-10-01 12:26] anupansh-aggarwal opened #70 "How to align a column to the right hand side."
Before submitting issues ...

- Make sure you are using SwiftDataTables [latest release](https://github.com/pavankataria/SwiftDataTables/releases) or master branch version.
- Make sure your Xcode version is the latest stable one.
- Check if the issue was [already reported or fixed](https://github.com/pavankataria/SwiftDataTables/issues?utf8=%E2%9C%93&q=is%3Aissue). We add labels to each issue in o

[2022-01-25 13:47] benchd commented on #56
Are you still working on this? Any progress?

[2022-02-05 08:43] alxsoft opened #71 "Need Objective С example"
Hi!

I need Obj С example of how to use this awesome project.

[2022-02-06 19:55] pavankataria commented on #71
This project hasn’t been tested with Objective-C I’m afraid so there will be no active support for it. I’m sorry.

[2022-02-06 19:55] #71 closed

[2022-02-20 19:04] pavankataria commented on #56
This project I'm working on is an incredibly complicated problem to solve which as you can imagine requires a huge time investment on my side. I've had to put this project on hold as I have had to prioritise for projects that would monetarily compensate for my time.

I have setup an open collective ti give an opportunity for folks to back the project. You don't have to become a backer. This is aim

[2022-02-20 19:06] pavankataria commented on #63
Hi @marchildmann, inline editing will become a feature the moment I can get custom cell views implemented. This will allow you to register your own cells!

Also, thank you, here is the open collective link so you can support this open source project:
It's completely optional! It's aimed towards the generous folks who want to show support https://opencollective.com/swiftdatatables

Thank you

[2022-07-26 08:01] Salman7310VE opened #72 "How user will initially know the screen has left right scrolling ?"
It should be an option on screen that will help to the user to know that it has left and right scrolling.

[2022-11-20 11:36] hamzabinamin commented on #36
@pavankataria Were you able to figure out something?